
            .fair_table {
                font-size: 11pt; 
                font-family: Arial;
                border-collapse: collapse; 
                border: 1px solid silver;
                margin-top: 10px;
            }

            h1 {
                font-family: Arial;
                font-size: 30pt;  
            }

            .fair_table td, th {
                padding: 10px;
            }

            .fair_table tr:nth-child(even) {
                background: #E0E0E0;
            }

            .fair_table th {
                text-align: left
            }

            .fair_table td img {
                width: 100%;
            }

            #band {
                background-color: #1f77b4; /* Default matplotlib blue */
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }

            #title {
                color: white;
                font-family: Arial;
                text-align: center;
                font-size: 30pt; 
            }

            #main {
                display: flex;
                flex-direction: column;
            }

            .fair_metadata_table {
                color: black;
                font-size: 11pt; 
                font-family: Arial;
                text-align: left;
                margin: 0px 0px 0px auto;
            }

            .fair_metadata_table th {
                padding-right: 10px;
            }

            #python_image_container {
                height: 50px;
            }

            #python_image_container img {
                height: 100%;
                padding-left: 25px;
            }

            .separator {
                background-color: #1f77b4; /* Default matplotlib blue */
                width: 100%;
            }

            .separator p {
                color: white;
                font-size: 20pt; 
                font-family: Arial;
                padding-left: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .flex_row {
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }
    
            .flex_row table td {
                text-align: right;
                padding-left: 30px;
            }

            .overview_img_container {
                flex-direction: column;
            }

            #overview_row {
                align-items: center;
            }

            code {
                white-space: pre;
            }

            .code_cell {
                text-align: left !important;
                vertical-align: top;
            }

